.header {
	text-align: center;
}

.title {
	font-size: 60px;
}

.form-menu {
	text-align: center;
}

.form {
	margin-left: 36px;
}

.cat-form {
	margin-left: 38px;
}

li {
	cursor: pointer;
	list-style: none;
}

.list {
	min-height: 60px;

}

.name {
	text-decoration: none;
}

.name:hover {
	text-decoration: none;
}

.select {
	display: inline-block;
	width: 170px;
}

#map-canvas {
	width: 70%;
	height: 70%;
	border-radius: 10px;
	margin: 0 auto;
	padding: 0px;
	margin-top: 100px;
	margin-bottom: 20px;
}

#map-toggle {
	display: none;
}

.friends {
	border: 2px solid black;
}

.frenemies {
	border: 2px solid black;
}

.other {
	border: 2px solid black;
}

i {
	cursor: pointer;
}
.fa-male {
	width: 30px;
	height: 30px;
}

.fa-clock-o {
	width: 30px;
	height: 30px;
}

.fa-mobile {
	width: 30px;
	height: 30px;
}

.fa-camera-retro {
	width: 30px;
	height: 30px;
}

.down {
	margin-top: 5px;
}

.edit-button {
	margin-right: 10px;
}

.save-button {
	margin-right: 10px;
}

.fa-plus-square {
	margin-right: 26px;
	margin-top: 5px;
}

.name {
	font-size: 20px;
}

i:hover {
	color: #0079AF;
}
